<div class="row">
    <div class="col-md-8 mx-auto">
        <h1>Edit a blog</h1>
        
        <form action="/blogs/edit/<%= blog._id %>" method="post">
            <div class="mb-3">
                <label for="title" class="form-label">Title of blog</label>
                <input type="text" class="form-control" id="title" name="title" value="<%= (old) ? old.title : (blog) ? blog.title : '' %>">
                <% if(typeof errors !== 'undefined' && errors.title){ %>
                    <small class="text-danger"><%= errors.title.msg %></small>
                <% } %>
            </div>
            <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <textarea class="form-control" id="description" name="description" rows="2"><%= (old) ? old.description : (blog) ? blog.description : '' %></textarea>
                <% if(typeof errors !== 'undefined' && errors.description){ %>
                    <small class="text-danger"><%= errors.description.msg %></small>
                <% } %>
            </div>
            <div class="mb-3">
                <label for="markdown" class="form-label">Markdown</label>
                <textarea class="form-control" id="markdown" name="markdown" rows="5"><%= (old) ? old.markdown : (blog) ? blog.markdown : '' %></textarea>
                <% if(typeof errors !== 'undefined' && errors.markdown){ %>
                    <small class="text-danger"><%= errors.markdown.msg %></small>
                <% } %>
            </div>
            <button type="submit" class="btn btn-primary">Edit</button>
        </form>
        
    </div>
</div>

<script src="/simplemde/js/simplemde.min.js"></script>
<script>
    const simplemde = new SimpleMDE({ element: document.getElementById("markdown") });
</script>